.divleft {
  /*div style for the up banner in each website*/
  display: block;
  text-align: left;
  margin: 25px 35px;
  font-size: 20px;
}

.divcenter {
  /*div style for the google image in the middle*/
  display: block;
  text-align: center;
  margin: 10px 10px;
  font-size: 20px;
  padding-top: 10px;
}

.div3 {
  /*div style for the input of the google search (Google search and Im lucky)*/
  text-align: center;
  display: inline-block;
  width: 100%;
}

.img2 {
  /*image style of the google image*/
  width: 35%;
  height: 35%;
}

.table1 {
  /*Table style for the first div of the web*/
  background-color: #f3f3f3;
  height: 60px;
  width: 100%;
  table-layout: auto;
  padding: 0;
  margin: 0;
}

.table2 {
  /*table style of the advanced search web*/
  table-layout: auto;
  width: 80%;
}

.td1 {
  /*data style of the first column of the table2*/
  table-layout: auto;
  -ms-flex-line-pack: left;
      align-content: left;
  width: 15%;
  font-size: 13px;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.td2 {
  /*data style of the second column of the table2*/
  table-layout: auto;
  -ms-flex-line-pack: left;
      align-content: left;
  text-align: left;
  max-width: 570px;
  width: 40%;
}

.td3 {
  /*data style of the third column of the table2*/
  table-layout: auto;
  -ms-flex-line-pack: left;
      align-content: left;
  text-align: left;
  width: 20%;
  font-size: 11px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.form1 {
  -ms-flex-line-pack: left;
      align-content: left;
}

.form2 {
  text-align: center;
  display: inline-block;
  overflow: hidden;
}

.img1 {
  height: 40px;
  width: 92px;
}

.text1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #d93025;
}

.input1 {
  /*input style of the submit input within advanced search web*/
  text-align: left;
  border-radius: 1px;
  border: 1px solid   #d9d9d9;
  border-top: 1px solid   #c0c0c0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  height: 25px;
  width: 98%;
  padding: 1px 8px;
}

.input1:focus {
  background-color: #e8f0fe;
  border: 3px solid #b8d2ff;
}

.input2 {
  /*input style of the text input within advanced search web*/
  width: 600px;
  text-align: center;
  height: 30px;
  border-color: gray;
  border-radius: 25px;
  margin: 10px;
}

.input3 {
  /*input style of the submit button within google normal search web*/
  width: 130px;
  text-align: center;
  height: 30px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin: 11px    4px;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  color: #5F6368;
}

li {
  list-style-position: inside;
  /*li style*/
}

.gs_button {
  /*Google advanced search button style*/
  background-color: #4d90fe;
  color: #fff;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  font-family: Arial, Helvetica, sans-serif;
}
/*# sourceMappingURL=styles.css.map */